{
    "metadata": {
        "name": "<CONTAINER_NAME>"
    },
    "image": {
        "image": "<CONTAINER_IMAGE>"
    },
    "linux": {
        "security_context": {
            "privileged": true
        }
    },
    "annotations" : {
        "io.microsoft.cri.container.imageattachedfragments" : "True"
    },
    "forwardPorts": []
}
