{
    "metadata": {
        "name": "sandbox",
        "namespace": "default",
        "attempt": 1
    },
    "linux": {
        "security_context": {
            "privileged": true
        }
    },
    "annotations": {
        "io.microsoft.virtualmachine.computetopology.processor.count": "<CPU>",
        "io.microsoft.virtualmachine.computetopology.memory.sizeinmb": "<MEMORY_MB>",
        "io.microsoft.virtualmachine.lcow.securitypolicy": "<SECURITY_POLICY>"
    }
}